@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body{
    width: 100%;
    height: 100vh;
    background: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
}

.front{
    width: 400px;
    height: 200px;
    background: transparent;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.container{
    width: 400px;
    height: 200px;
}

.behind{
    width: 400px;
    height: 200px;
    position: absolute;
    margin-top: -235px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    align-items: center;
    overflow: hidden;

}

button{
    width: 400px;
    height: 200px;
    border-color: white;
    border-width: 5px;
    background: transparent;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 50px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
}


